@font-face {
    font-family: natureFont2;
    src: url('/fonts/Amadeus.ttf');
}

body {
    font-family: natureFont2;
    background-image: url('/img/giphy.gif');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    margin-left: 20px;
}
a {
    margin-left: 20px;
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #668ad8;
    color: #FFF;
    border-radius: 4px;
    box-shadow: 0px 0px 0px 5px #668ad8;
    border: dashed 1px #FFF;
}