body{
    background-color: white;
}

nav{
    background-color: lightgreen;
}

.row1{
    height:200px;
   
}
.row2{
    height:200px;
   
}
.row3{
    height:100px;
}

.row4{
    height:300px;
}
.row5{
    height:150px;
}


#profilepic{
    border-radius: 50%;
    width: 50%;
    height:60%;
    background-color: white;
    margin: 10px;
    border:solid #04443c;
}
#profilepic p {
    font-size: 40px;
    text-align: center;
    color:#04443c;
}

#userinfo{
    border-radius:25px;
    width: 90%;
    height:50%;
    background-color: white;
    margin: 10px;
   
}
#userinfo p {
    font-size: 40px;
    text-align: center;
    color:#04443c; 
    border-bottom: solid #04443c;
}


#score{
    border-radius:25px;
    width: 100%;
    height:90%;
    background-color: white;
    border-bottom: solid #04443c;
    border-top: solid #04443c;

}

#leaderboard{
    border-radius:25px;
    width: 100%;
    height:90%;


}

#customize{
    border-radius:25px;
    width: 100%;
    height:50%;
   

}

#customizeinfo{
    border-radius:25px;
    width: 100%;
    height:90%;
    background-color: white;
    border-bottom: solid #04443c;
    border-top: solid #04443c; 

}


#customizeinfo p{
    font-size: 40px;
    text-align: center;
    color:#04443c;
    
}

button{
    color: white;
    background-color: #04443c;
    font-size: 30px;
}

.in-col{
    height:50%;
    margin:10px;
    font-size: 30px;
    color:#04443c;
}

.nav{
    background-color: #04443c;
}

.nav-link:hover {
    color: #76c893;
}


/* #0F0F0F   #532E1C   #C5A880 */


