@font-face {
  font-family: natureFont;
  src: url('/fonts/berkshireswash-regular.ttf');
}

@font-face {
  font-family: natureFont2;
  src: url('/fonts/Amadeus.ttf');
}
@font-face {
  font-family: button-font;
  src: url('/fonts/SquadaOne-Regular');
}
body {
  font-family: natureFont;
}
/*Navbar--- */
.nav {
  background-color: #04443c;
  color: white;
  padding: 0;
  margin: 0;
}

.nav-link:hover {
  color: #76c893;
  /* cursor: pointer; */
}

.nav-link,
a {
  color: white;
}

.navbar {
  background-color: #04443c;

}

.swal2-modal {
  min-height: 600px;
}

.swal2-popup {
  justify-content: flex-end;
}

.swal2-content {
  font-weight: bolder;
  font-size: 40px;
  color: rgb(197, 81, 81);
}

h1,
h3 {
  text-align: center;
}

#snap:hover {
  color: #76c893;
}
h1,h3 {
    text-align: center;
  }

  #circle {
    margin-left: 25%;
    margin-top: 10%;
  }


  .btn-circle {
    border: none;
    width: 200px;
    height: 200px;
    padding: 6px 2px;
    border-radius: 100px;
    text-align: center;
    font-size: 12px;
    line-height:190px;
    color: white;
    background-image: linear-gradient(#04443c,#76c893);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.28);
    text-shadow: 1px 1px 1px rgba(39, 87, 39, 0.65);
    font-family: button-font;
  }

  #snap:hover{
    color: #04443c;
  }

  body{
    background-image: url("/img/background.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: rgba(0, 0, 0, 0.979);
  }

  #snap p{
    font-size: 35px;
  }
