#imageform {
    margin-left: 10%;
    margin-top: 20px;
}

input {
    border: #04443c;
    border-radius: 4px;
}

<<<<<<< HEAD
#fileinput{
    border: solid black;
    width: 100px;
    height: 50px;
    display: inline-block;
    cursor: pointer;
    position: relative;
}

#upload-input{
    width: 100px;
    height: 50px;
    display: inline-block;
    cursor: pointer;
    position: relative;
}
=======
input[type="file"] {
    display:none;
}
input[type="submit"] {
    display:none;
}

>>>>>>> 0fb502a993a4b4db66a9459e470b74a7d6404e75
#selectImgLocation {
    width: 100%;
    height: 50vh;
}

#file-input {
    display: none;
}

#previewImag {
    width: 200px;
    height: 200px;
    /* margin-top:5px; */
    cursor: pointer;
}

#selectImgLocation {
    width: 100%;
    height: 50vh;
}

<<<<<<< HEAD
#add-photo{
    position:relative;
    left:104px;
    bottom: 30px;
    width: 100px;
    height: 50px;
    color: white;
    background-color: #04443c;

}
/* #upload-photo{
=======
#upload-photo{
>>>>>>> 0fb502a993a4b4db66a9459e470b74a7d6404e75
    position:relative;
    width: 100px;
    height: 50px;
    color: white;
    background-color: #04443c;
    

} */

#uploadImgBtn, #selectImgLocation {
    visibility: hidden;
}